<!doctype html>
<html>
  <head>
    <title><%=shopData.shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Here's What we sell:</h1>
    <ul>
    <% availableBooks.forEach(function(books) { %>
      <li>name: <%=books.name%></a> price: £<%=books.price%></li>
    <% }); %>
    </ul>
  </body>
</html>