<!doctype html>
<html>
  <head>
    <title>Weather</title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Check Weather Here:</h1>
    <form method="POST" action="searched">
      <p>Enter City Name:
        <input id="city" type="text" name="city" />
      </p>
      <button type="submit">Search</button>
    </form>
    </body>
</html>